

input {
    width: 40%;
    height: 2vh;
    background: #F0F0F0;
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
}

/* Change size of search box if the screen is small (mobile) */
@media screen and (max-width: 600px) {
    input {
      width: 75%;
    }
}