.App {
  text-align: center;
}

.pokemon-grid {
  margin-top: 1%;
  @media screen and (min-width: 600px) {
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(5, 10%);
  }

}